body
{
  margin: 2rem;
}

img
{
  border-radius: 0.5rem;
  max-width: 100%;
}

a
{
  color: black;
  text-decoration: none;
}

h1
{
  font-size: 1.4rem;
}

.animeLeft
{
  animation: animeLeft 0.3s forwards;
  opacity: 0;
  transform: translateX(-30px);
}

@keyframes animeLeft
{
  to
  {
    opacity: initial;
    transform: initial;
  }
}

.carregando
{
  animation: carregando 1s infinite;
  border: 10px solid rgb(115, 115, 115);
  border-radius: 50%;
  border-right-color : transparent;
  height: 20px;
  width: 20px;
}

@keyframes carregando
{
  to
  {
    transform : rotate(360deg);
  }
}

.App
{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 70%;
  min-height: calc(100vh + 10rem);
}

.conteudo
{
  flex: 1;
}